# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Editor configs
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib
*.pdb

# Build directories
build/
dist/
*.spec

# Distribution / packaging
*.egg-info/
.eggs/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled UI files or temp files
*.toc
*.pyz
*.html
*.txt

# App-specific
assets/icon.ico

# LFS suggestions
*.exe
